<!DOCTYPE html>
<html>
<head>
    {% block dependencies %}
    <title>PlantConnectome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <style>
      body { font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif; }
      /* ── Navbar ── */
      .list-item {
        display: flex;
        align-items: center;
      }
      .list-item img {
        width: 40px;
        height: 30px;
        margin-right: 20px;
      }
    </style>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Plant Connectome</li>
                <li class="list-item"><img src="{{ url_for('static', filename='PC_icon.png') }}" alt="PC"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/catalogue">Entities</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    <article class="grid-container">
      <div class="row border-box">
        <ul class="menu align-center">
          <li class="menu-text">PlantConnectome &copy; 2025</li>
          <li><a href="https://twitter.com/labmutwil" target="_blank">Follow us on Twitter</a></li>
          <li><a href="https://discord.gg/qr8tYYHu7Y" target="_blank">Mutwil Lab on Discord: Questions / suggestions? Let us know!</a></li>
        </ul>
      </div>
    </article>
    {% endblock %}

    {% block start_foundation %}
    <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script>$(document).ready(function(){ $(document).foundation(); });</script>
    {% endblock %}
</body>
</html>
