{% extends "base.html" %}

{% block content %}
<style>
    .button { padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 1em; transition: background-color 0.3s ease; }
    .button.primary { background-color: #0d9488; color: #fff; }
    .button.primary:hover { background-color: #0f766e; }
</style>

<div class="grid-container fluid">
  <br>
  <h2>No hits were found using the query: <strong>{{ search_term }}</strong></h2>
  <p>Please try another search term or check your spelling.</p>
  <button class="button primary" onclick="window.location.href='{{ url_for('index') }}'">
    Go Back
  </button>
</div>
{% endblock %}
